@charset "utf-8";
/***
@Author:     webpoin
@Email:      1357113262@qq.com
***/


.mainbox{width: 1000px;margin: 0 auto;overflow: hidden;}

.listad{position: relative;margin-top: 10px;background: #fff;overflow: hidden;border:1px solid #d4d4d4; }
.listad a{display: block;height: 100%;}
.listad>i{position: absolute;cursor: pointer;font-style: normal; top: 135px; color: #fff;font-size: 35px;font-family: '宋体';width: 30px;height: 50px;background: url(/images/icon_yuan.png) no-repeat;}
.listad>i.toleft{ background-position: right top;left: 11px;}
.listad>i.toright{left: 531px;background-position: left top;text-align: right;}
.listad>i.toleft:hover{background-position: right bottom; }
.listad>i.toright:hover{background-position: left bottom; }


.listad_imp {position: relative; float: left;margin: 10px; width: 550px; height: 300px;overflow: hidden;border:1px solid #ddd;}
.listad_imp li{float: left; width: 550px;height: 300px;vertical-align: top;text-align: center;}
.listad_imp img{width: 100%;height: 100%;}


.listad_nor{position: relative;width: 550px; overflow: hidden;}
.listad_nor ul{ overflow: hidden;width: 1000%;}
.listad_nor li{float: left;position: relative; width: 130px;height: 105px; padding: 0 5px; }

.listad_lst{float: left;width: 426px;margin-top: 10px;}
.listad_lst li{float: left;width: 138px;height: 74px; margin-right: 10px;border:1px solid #ddd;margin: 0 0 -1px -1px;text-align: center; }
.listad_lst li a:before{content: '';display: inline-block;width: 1px;height: 100%;vertical-align: middle;}
.listad_lst li img{max-width: 100%;max-height: 100%;vertical-align: middle;}




/*标题*/
.title{position: relative;padding: 0 10px; height: 36px;line-height: 36px;font-size: 14px;font-weight: normal;border-bottom: 2px solid #ee2323;background: url(/images/index_title.png) repeat-x;}
.title a{display: inline-block; position: relative;width: 100px;text-align: center;}
.title a:hover{color: #ee2323;}
.title a.active:before{content: '';position: absolute;left: 50%;bottom: 0; width: 0;height: 0;overflow: hidden;border-style: solid; border-width: 0 6px 6px;margin-left: -6px;border-color: transparent transparent #ee2323; }
.title a.active:after{content: '';position: absolute;left: 50%;bottom: -2px; width: 0;height: 0;overflow: hidden;border-style: solid; border-width: 0 6px 6px;margin-left: -6px;border-color: transparent transparent #fff; }
.title a.more{width: auto; font-size: 12px;font-weight: normal;position: absolute;right: 10px;top: 0;font-family: '宋体';}
.title a.more:hover{text-decoration: underline;}


















.filter{display: block;margin-top: 10px; margin-left: auto;margin-right: auto; background:#fff;overflow:hidden;border:1px solid #ddd;}
.filter_top{height:35px;background:#eee;line-height:35px;position:relative;font-size:12px}
.filter_top strong{margin-left:20px}
.filter_top strong span{color:#ed145a}
.filter_top strong label{display:none}




.filter_con{padding:15px 10px 5px 20px;overflow:hidden;_zoom:1;border-bottom:solid 1px #f2f2f2;position:relative}
.filter_con a.active{color: #ee2323;}
.filter_tit{font-size:12px;float:left;display:inline;height:22px;line-height:22px}

.filter_tit{font-size:12px;width:60px;overflow:hidden;font-weight:700;text-indent:3px;float:left;display:inline;height:22px;line-height:22px}
.filter_tit_wide{font-size:12px;width:80px;overflow:hidden;font-weight:700;text-indent:12px;float:left;display:inline;height:22px;line-height:22px}


.filter_attrs{float:left;width:90%;overflow:hidden;}
.filter_attrs.expand{width:90%;height:auto}
.filter_attrs ul li a{font-size:12px;color:#666;height:20px;line-height:20px;display:inline-block;padding:1px 10px;zoom:1;overflow:hidden}
.filter_attrs ul li a:focus{outline:0;-moz-outline:0}

.filter_attrs.expand ul{overflow-y:auto;overflow-x:hidden}
.filter_attrs.expand .hide{display:inline}


.filter_choosed{padding:10px 15px 5px;background:#fff;border-bottom:solid 1px #f2f2f2}
.filter_choosed_item_wrap{float:left;display:inline;width:85%}
.filter_choosed_item span{height:18px;float:left;display:inline;font-size:12px;line-height:17px;padding:0 5px;color:#f01d64}
.filter_choosed_item a{float:left;display:inline;width:18px;height:18px;background-position:0 -35px}
.filter_choosed_item{border:1px solid #f83577;float:left;display:inline;margin-right:10px;margin-bottom:10px;background:#fff}

.filter_con ul{overflow:hidden;}
.filter_con ul li{float:left;margin:0 10px 10px 0;display:inline;white-space:nowrap;width:80px;overflow:hidden;background:0;height:22px}
.filter_con ul li.next_selected_hover a{text-decoration:none;color:#fff;background:#ed145b;cursor:pointer}



.filter_attrs ul li a:hover{color:#ed145b}










.lists{display: block;width: 999px;border:1px solid #d4d4d4; margin: 15px auto 0;border-bottom: none; }
.list_tle{position: relative; border-bottom: 2px solid #ee2323;padding: 10px; height: 24px;line-height: 24px;background: url(/images/index_title.png) repeat-x 0 7px;}
.list_tle_queue,
.list_tle_price,
.list_tle_view{display: inline-block;vertical-align: top;margin-right: 5px;}

.list_tle_queue a{float: left;margin-right: -1px; border:1px solid #ddd;padding: 0 8px;color: #595757;background: #fff;}
.list_tle_queue a.list_tle_strong{color: #f2460a; }

.list_tle_price label{display: inline-block;position: relative;vertical-align: top;}
.list_tle_price input{vertical-align: top; width: 20px;line-height: 18px;height: 18px;padding: 3px 0 3px 15px;border:1px solid #ddd; }
.list_tle_price span{position: absolute;left: 2px;top: 0; }

.list_tle_view a{float: left; margin-right: -1px; border:1px solid #ddd;padding: 0 10px;color: #595757;background: #fff;}
.list_tle_view a img{width: 24px;height: 24px;}
.list_tle_view a.list_tle_strong{color: #f2460a;border-color: #f2460a;z-index: 1;position: relative; }


.list_tle_page{position: absolute;right: 10px;top: 14px;color: #999;line-height: 16px;}
.list_tle_page span{float: left;margin-right: 10px;}
.list_tle_page a{float: left; font-family: '宋体'; width: 16px;height: 16px;background: #fff; border:1px solid #bbb;margin-right: 3px; text-align: center;line-height: 16px;}
.list_tle_page a:hover{text-decoration: none;background: #efefef;color: #000;}



.lists{width: 998px; margin-top: 10px;border:1px solid #d4d4d4;margin-bottom:20px; background: #fff;overflow: hidden;}
.list_all{padding: 0 5px;}
.list_all li{float: left;position: relative; width: 235px;margin: 10px 5px 39px; border: 1px solid #e5e5e5;border-bottom: none;}
.list_all h3 img{width: 235px;height: 190px;}
.list_all p {line-height: 20px;margin: 5px 10px;height: 40px;overflow: hidden;}
.list_all p a{white-space: normal;color: #999;}
.list_all p strong{font-weight: normal;color: #000;}
.list_all cite{display: block; position: relative; margin: 0 10px;font-style: normal;font-size: 12px;line-height: 30px; color: #636363; }
.list_all cite em{font-style: normal;color: #ee2323;}
.list_all cite strong{font-size: 20px;color: #ee2323;font-weight: normal;}
.list_all cite span{position: absolute;right: 0;top: 0;}
.list_all .lists_ctl{position: absolute;z-index: 1;left: -1px; padding-top: 10px;font-size: 14px;font-weight: bold;color: #fff;  height: 0px;line-height: 30px; overflow: hidden; top: 100%;margin-top: -5px; width: 237px;background: url(/images/lists_bkg.png) repeat-x -2px top ;}
.list_all .lists_ctl .exchange{margin-left: 10px;}
.list_all .lists_ctl .intocard{position: absolute;right: 10px;top: 10px;padding-left: 33px;background: url(/images/icon_putintocard.png) no-repeat left center;}
.list_all .lists_ctl .gotolook{position: absolute;right: 10px;top: 10px;}
.list_all .lists_ctl a:hover{text-decoration: underline;}
.list_all li:hover{border-color: #ee2323;}
.list_all li:hover .lists_ctl{height: 40px;background-position: -2px -11px;}


.list_item li{position: relative; padding-left: 138px;height: 109px; margin: 10px;border: 1px solid #ddd;overflow: hidden;}
.list_item h3 {float: left;margin: 5px;margin-left: -133px;}
.list_item h3 img{width: 118px;height: 95px; border:1px solid #ddd;}
.list_item h4{font-size: 14px;line-height: 30px;}
.list_item h4 strong{color: #ee2323;}
.list_item p{font-size: 12px;line-height: 20px;color: #6c6c6c;}
.list_item p em{color: #86af06;font-style: normal;}
.list_item cite{position: absolute;left:610px;padding-top: 30px; top: 0;height: 79px; font-style: normal; width: 200px;padding-left: 40px; background: url(/images/list_item_line.png) no-repeat left bottom; }
.list_item cite em{font-style: normal;color: #ee2323;}
.list_item cite strong{font-size: 20px;color: #ee2323;font-weight: normal;}
.list_item .lists_ctl{position: absolute;top: 50%;margin-top: -15px; right: 30px;}
.list_item .lists_ctl a{display: block;line-height: 30px;padding: 0 30px;background: #ee2323;font-weight: bold;color: #fff;}
/*.list_item cite span{position: absolute;right: 0;top: 0;}*/


.list_shop>li{position: relative;margin: 10px;border: 1px solid #ddd;overflow: hidden;}
.list_shop_msg {position: relative;height: 119px; padding-left: 138px; }
.list_shop_msg h3 {float: left;margin: 10px;margin-left: -128px;}
.list_shop_msg h3 a{display: block; width: 118px;height: 95px; border:1px solid #ddd;text-align: center;}
.list_shop_msg h3 a:before{content: '';width: 1px;height: 100%;display: inline-block;vertical-align: middle;}
.list_shop_msg h3 img{vertical-align: middle;}
.list_shop_msg h4{line-height: 36px;font-weight: normal;font-size: 14px;color: #999;}
.list_shop_msg h4 strong{color: #ee2323;font-size: 18px;}
.list_shop_msg p{width: 600px; font-size: 12px;height: 66px;overflow: hidden; line-height: 22px;color: #878787;margin-left: 8px;}
.list_shop_msg p em{color: #86af06;font-style: normal;}
.list_shop_msg .lists_ctl{position: absolute; top: 30px; right: 30px;}
.list_shop_msg .lists_ctl a{display: block;width: 130px; line-height: 30px;text-align: center; }
.list_shop_msg .lists_ctl a.intoshop{background: #ee2323;font-weight: bold;color: #fff; margin-bottom: 5px;}
.list_shop_msg .lists_ctl a.moreprod{background: #ebebeb;color: #595757;font-family: '宋体';}
.list_shop_msg .lists_ctl a.moreprod em{font-style: normal;color: #ee2323;}


.list_shop_prod{position: relative; margin: 10px; clear: both;border:1px solid #dfdfdf;background: #f5f5f5;}
.list_shop_prod:before{content: '';position: absolute;right: 80px;top: -10px; border-style: solid;border-width: 0px 10px 10px;border-color: transparent transparent #dfdfdf; }
.list_shop_prod:after{content: '';position: absolute;right: 80px;top: -9px; border-style: solid;border-width: 0px 10px 10px;border-color: transparent transparent #f5f5f5; }

.list_shop_prod ul{overflow: hidden;margin: 0 5px;}
.list_shop_prod li{float: left;position: relative; width: 224px;margin: 10px 5px 39px;background: #fff; border: 1px solid #e5e5e5;border-bottom: none;}
.list_shop_prod h3 img{width: 224px;height: 181px;}
.list_shop_prod p {line-height: 20px;margin: 5px 10px;height: 40px;overflow: hidden;}
.list_shop_prod p a{white-space: normal;color: #999;}
.list_shop_prod p strong{font-weight: normal;color: #000;}
.list_shop_prod cite{display: block; position: relative; margin: 0 10px;font-style: normal;font-size: 12px;line-height: 30px; color: #636363; }
.list_shop_prod cite em{font-style: normal;color: #ee2323;}
.list_shop_prod cite strong{font-size: 20px;color: #ee2323;font-weight: normal;}
.list_shop_prod cite span{position: absolute;right: 0;top: 0;}
.list_shop_prod .lists_ctl{position: absolute;z-index: 1;left: -1px; padding-top: 10px;font-size: 14px;font-weight: bold;color: #fff;  height: 0px;line-height: 30px; overflow: hidden; top: 100%;margin-top: -2px; width: 226px;background: url(/images/lists_bkg.png) repeat-x 1px top ;}
.list_shop_prod .lists_ctl .exchange{margin-left: 10px;}
.list_shop_prod .lists_ctl .intocard{position: absolute;right: 10px;top: 10px;padding-left: 33px;background: url(/images/icon_putintocard.png) no-repeat left center;}
.list_shop_prod .lists_ctl .gotolook{position: absolute;right: 10px;top: 10px;}
.list_shop_prod .lists_ctl a:hover{text-decoration: underline;}
.list_shop_prod li:hover{border-color: #ee2323;}
.list_shop_prod li:hover .lists_ctl{height: 40px;background-position: 1px -11px;}
.list_shop_prod .more{ font-size: 12px;line-height: 24px;text-align: right;margin:0 10px;font-family:'宋体';margin-bottom: 5px;}





.list_card li{position: relative;border: 1px solid #ddd;margin: 10px;overflow: hidden;}
.list_card li:before{content:''; position: absolute;left:695px; top: 0;height: 100%; font-style: normal; width: 25px; background: url(/images/list_item_line.png) no-repeat left bottom; }
.list_card ul{ overflow: hidden;width: 1000%;}
.list_card li{position: relative; height: 162px;font-style: normal;}
.list_card img{width: 100%;}
.list_card h6{position: absolute;top: 10px;left:10px;width: 224px;}
.list_card li>h4{position: absolute;top: 15px;left: 20px; width: 50px;margin-left: 6px;margin-top: 4px; }

.list_card span{position: absolute;top: 15px;left: 180px;  font-size: 12px;font-family: "宋体";color: #F5ED95;}
.list_card h3{position: absolute;width: 225px; font-size: 18px;line-height: 30px; font-weight: 500;color: #9c772c;top: 50%; margin-top: -15px;left: 10px;right: 0;text-align: center;}
.list_card li>p{position: absolute;width: 225px;left: 20px;bottom: 18px;color: #9c772c;font-size: 12px;}
.list_card cite {position: absolute;top: 0;left: 260px;padding-left: 20px; background: rgba(255,255,255,0.9);height: 100%;font-style: normal;}
.list_card cite h4{font-size: 16px;color: #000;line-height: 36px;}
.list_card cite p{height: 110px;overflow: hidden; font-size: 12px;line-height: 22px;color: #878787;white-space: nowrap;}
.list_card cite p b{color: #595757;}
.list_card cite p a{color: #ee2323;}


.card_cnt_btn{position: absolute;right: 65px;top: 40px;}
.card_cnt_btn a{display: block;text-align: center;}
.card_cnt_btn a.intocard{text-indent: 15px;font-weight: bold;color: #fff; width: 120px;height: 30px;line-height: 30px;background: url(/images/icon_putintocard.png) no-repeat -3px center #ee2323;}
.card_cnt_btn a.gotolook{display: block;margin-top: 10px; text-align: center;font-weight: bold;color: #595757; width: 120px;height: 30px;line-height: 30px;background: url(/images/icon_gotolook.png) no-repeat 5px center #ebebeb;}

.list_card li:hover{border-color: #ee2323;  }


/*
.card_cnt {float: left; position: relative; height: 192px; width: 305px;padding: 0 5px;margin: 10px; height: 192px;font-style: normal;background: url(/images/membercard_bkg.png) no-repeat;}
.card_cnt img{width: 50px;margin-left: 6px;margin-top: 4px; }
.card_cnt span{position: absolute;top: 5px;right: 15px;text-shadow:1px 1px 2px #402c03;  font-size: 12px;font-family: "宋体";color: #F5ED95;}
.card_cnt h3{position: absolute;font-size: 24px;line-height: 30px; font-weight: 500;color: #9c772c;top: 50%; margin-top: -15px;left: 0;right: 0;width: 100%;text-align: center;}
.card_cnt p{position: absolute;left: 10px;bottom: 8px;color: #9c772c;font-size: 12px;}
.list_card cite {position: absolute;top: 0; height: 100%;left:324px; padding-left: 20px; font-style: normal;}
.list_card cite h4{margin-top: 10px;font-size: 16px;color: #000;line-height: 40px;}
.list_card cite p{overflow: hidden; font-size: 12px;line-height: 28px;color: #878787;white-space: nowrap;}
.list_card cite p b{color: #595757;}
.list_card cite p a{color: #ee2323;}

.list_card li:before{content:''; position: absolute;left:695px; top: 0;height: 100%; font-style: normal; width: 25px; background: url(/images/list_item_line.png) no-repeat left bottom; }

*/


/*.banner{position: relative; height: 403px;overflow: hidden; border-bottom: 1px solid #000; margin-bottom: 10px;}
.banner li{position: absolute;top: 0;left: 50%;width: 1920px;height: 500px; margin-left: -960px; vertical-align: top;text-align: center;}

.slide_alt{display: none; position: absolute;left: 0;bottom: 0;width: 100%;height: 32px;line-height: 32px;background: rgba(0,0,0,0.5);}
.slide_crl{ position: absolute;left: 50%;width: 400px;margin-left: -200px; bottom: 15px; text-align: center;text-align: center;}
.slide_crl b{display:inline-block;position: relative; width:12px; height:12px;text-indent:-999em;background: rgba(0,0,0,0.2);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000); border-radius:6px; overflow: hidden;margin:0 5px; cursor:pointer; behavior:url(/css/pie.htc); }
.slide_crl b:hover{background: rgba(0,0,0,0.4);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000); }
.slide_crl b.on{background: #f0450a;}*/










@charset "utf-8";
/*活动汇
.hd_menu{ border-right:1px #dbdbdb solid; height:47px; line-height:47px; overflow:hidden; margin-top:40px;}
.hd_menu a{ width:246px; border-left:1px #dbdbdb solid; display:block; float:left; height:47px; background:url(../images/bg_script.png) 0px -1848px repeat-x; text-align:center; color:#999; font-size:22px; font-family:"微软雅黑", "黑体";}
.hd_menu a:hover,.hd_menu a.hover{ background-position:0px -1917px; color:#009899; text-decoration:none;}
.hd_tab_cont{ margin-top:40px; line-height:24px;}
.hd_tab_cont .l{ float:left; width:660px; }
.hd_tab_cont .l li{ width:658px; height:238px; position:relative; zoom:1; background:#fafafa; border:1px #dbdbdb solid; z-index:2; margin-bottom:40px;}
.hd_tab_cont .l li.hover{ background:#FFF; border:1px #c4c4c4 solid;-moz-transition-duration:0.3s;-webkit-transition-duration:0.3s}
.hd_tab_cont li b{ background:url(../images/img_script.png) -111px -775px no-repeat; width:102px; height:103px; position:absolute; top:-2px; left:-2px; z-index:10;}
.hd_tab_cont li b.img1{ background-position:-111px -787px}
.hd_tab_cont li b.img2{ background-position:-1px -787px}
.hd_tab_cont li b.img3{ background-position:-220px -787px}
.hd_tab_cont .l li .bg{ background:url(../images/hd_bottom.png) 0px 0px no-repeat; height:20px; width:358px; display:block; position:absolute; right:0px; bottom:-20px; z-index:12}
.hd_tab_cont .l li.hover .bg{ background:url(../images/hd_bottom_hover.gif) 0px 0px no-repeat; height:46px; width:358px; display:block; position:absolute; right:-1px; bottom:-21px; z-index:12;}
.hd_tab_cont .l li .mod,.hd_tab_cont .r li .mod{ padding:10px; overflow:hidden}
.hd_tab_cont .l li .img{ float:left; width:270px; margin-right:20px;}
.hd_tab_cont .l li .img img{ display:block;}
.hd_tab_cont .l li .txt{ float:left; width:348px;}
.hd_tab_cont .l li .txt .t{ font-size:24px; color:#009899; font-family:"微软雅黑", "黑体"; line-height:50px;}
.hd_tab_cont .r{ float:right; width:294px;}
.hd_tab_cont .r li{ float:right; width:292px; height:518px;position:relative; zoom:1; background:#fafafa; border:1px #dbdbdb solid; z-index:2; margin-bottom:40px;}
.hd_tab_cont .r li.hover{ background:#FFF; border:1px #c4c4c4 solid;-moz-transition-duration:0.3s;-webkit-transition-duration:0.3s}
.hd_tab_cont .r li .bg{ background:url(../images/hd_bottom_r.png) 0px 0px no-repeat; height:20px; width:240px; display:block; position:absolute; right:0px; bottom:-20px; z-index:12}
.hd_tab_cont .r li.hover .bg{ background:url(../images/hd_bottom_r_hover.gif) 0px 0px no-repeat; height:46px; width:240px; display:block; position:absolute; right:-1px; bottom:-21px; z-index:12;}
.hd_tab_cont .r li .mod,.hd_tab_cont .r li .mod{ padding:10px; overflow:hidden}
.hd_tab_cont .r li .img{width:216px; margin-right:20px; height:200px; margin-bottom:10px;}
.hd_tab_cont .r li .img img{ display:block;}
.hd_tab_cont .r li .txt{ padding:10px 10px}
.hd_tab_cont .r li .txt .t{ font-size:24px; color:#009899; font-family:"微软雅黑", "黑体"; line-height:50px;}


.hd_tab_cont a.sina{ background:url(../images/bg_script.png) no-repeat 8px -752px; width:30px; height:20px; margin-right:10px; display:inline-block}
.hd_tab_cont a.qq{ background:url(../images/bg_script.png) no-repeat 8px -826px; width:30px; height:20px; margin-right:10px;display:inline-block}

/*关于我们
.about{ border:1px #dbdbdb solid; overflow:hidden; background:#FFF; zoom:1; margin-top:20px; padding-bottom:40px;}
.about_l{ width:240px; float:left; position:relative; zoom:1; z-index:2; color:#333; height:821px;}
.about h3{ height:60px; width:240px; line-height:60px; font-family:"微软雅黑", "黑体"; font-size:24px; color:#009899; text-align:center; background:url(../images/about/menu_line.jpg) center bottom no-repeat; font-weight: normal;}
.about_l .bg{ background:url(../images/about/menu_bg.png) right no-repeat; width:52px; height:821px; z-index:10; position:absolute; right:0px; top:0px;}
.about_l li{ margin-top:10px; margin-left:20px; height:31px; width:190px; line-height:31px; border-bottom:1px #ebebeb solid; padding-left:30px; position:relative; zoom:1; z-index:4; cursor:pointer}
.about_l li a{ display:block; color:#333;}
.about_l li a:hover{ color:#009899;}
.about_l li.hover a:hover,.about_l li.hover a{ color:#FFF;}
.about_l li.hover{background:url(../images/about/about_li_bg.jpg) repeat-y; border:none; height:32px; color:#FFF; font-weight:bold;}
.about_l li b{ background:url(../images/bg3_script.png) -92px -319px no-repeat; width:7px; height:13px; display:none; position:absolute; right:-7px;_right:-7px; top:10px; z-index:10; }
.about_l li.hover b{ display:block}
.about_r{ width:634px; float:left; padding:30px 56px;}
.about_r .hd,.about_r h4{ font-size:16px; color:#333; border-bottom:1px #ebebeb solid; height:32px; line-height:32px; font-weight:normal}

/*帮助中心
.zj_list{ margin-top:40px;}
.zj_list ul{ border-left:1px #f0f0f0 solid; border-top:1px #f0f0f0 solid; overflow:hidden; zoom:1}
.zj_list ul li{ float:left; width:170px; height:260px; background:#fafafa;border-right:1px #f0f0f0 solid; border-bottom:1px #f0f0f0 solid; position:relative; zoom:1; padding:20px;}
.zj_list ul li.hover{ background:#FFF}
.zj_list ul li.hover .bor{ position:absolute; top:0px; left:0px; border:1px #cccccc solid; width:170px; height:259px; z-index:10;padding:19px 20px 20px 19px;}
.zj_list ul li img{ display:block; margin-bottom:8px;}
.zj_list ul li .txt{ font-size:12px; line-height:20px; height:60px;color:#454545}
.zj_list ul li a.imgbt{ width:58px; height:24px; line-height:24px; background:url(../images/bg3_script.png) 0px -340px repeat-x; float:right; border:1px #dbdbdb solid; font-size:12px; color:#454545}
.zj_list ul li a.imgbt *{ vertical-align:middle;}
.zj_list ul li a.imgbt b{ width:23px; height:21px; display:inline-block; background:url(../images/bg3_script.png) 3px -373px no-repeat}
.zj_list ul li a.imgbt:hover{ background-position:0px -399px; border:1px #cccccc solid; box-shadow:0 2px 4px rgba(0,0,0,0.4); text-decoration:none; color:#454545}
.about_r li,.b_line{ border-bottom:1px #f0f0f0 solid; padding-bottom:20px; }
.about_r li h5,.b_line h5{ margin-top:20px; font-weight:bold; color:#009899; font-size:14px}
.about_r li p{ margin-top:10px;}
.feed textarea{ width:318px; height:102px;color:#333; font-size:14px; padding:3px; line-height:20px;}
.feed td{ padding:10px 5px; color:#333}
.w254{ width:254px;}
.w180{ width:180px;}
.fd_bnt{ background:url(../images/bg2_script.png) 0px -611px repeat-x;font-weight:normal; color:#fff; height:35px; line-height:33px; display:inline-block; padding:0px 50px; border:0; font-weight:bold; font-size:14px; cursor:pointer}
.fd_bnt:hover{ background-position:0px -656px;}

/*网站地图
.map{ margin:0px 90px; line-height:30px;}
.map h4{ font-size:14px; color:#009899; margin-top:40px;}
.map h4 a{ color:#009899}
.map a{ margin-right:24px; display:inline-block;}

/*U联生活小课堂
.classroom{line-height:26px;}
.classroom .box{ margin-top:40px; padding-bottom:40px; border-bottom:1px #dbdbdb dashed; background:url(../images/about/img07.jpg) top no-repeat; height:610px;}
.classroom .box p{ padding:66px 0px 0px 20px; width:582px;}
.classroom .box2{ margin-top:40px;line-height:26px; background:url(../images/about/img08.jpg) top no-repeat; height:1030px; position:relative; zoom:1}
.classroom .box2 div,.classroom .box6 div{ position:absolute; z-index:10;}
.classroom .box2 div.c1{ width:250px; top:170px; right:222px;}
.classroom .box2 div.c2{ width:350px; top:532px; left:78px;}
.classroom .box2 div.c3{ width:328px; top:798px; right:145px;}
.classroom .box3{ margin-top:40px; padding-bottom:100px; border-bottom:1px #dbdbdb dashed; line-height:26px; background:url(../images/about/img09.jpg) top no-repeat; height:235px; zoom:1;overflow:hidden;}
.classroom .box3 ul{ padding-top:234px; }
.classroom .box3 li{ width:140px; margin:0px 120px 0px 16px; float:left; display:inline}
.classroom .box3 li.last{ margin-right:0px; margin-left:10px;}
.classroom .box4{ margin-top:40px; padding-bottom:40px; border-bottom:1px #dbdbdb dashed; line-height:26px; background:url(../images/about/img10.jpg) top no-repeat; height:202px; position:relative; zoom:1}
.classroom .box4 ul{ padding-top:120px; }
.classroom .box4 li{ width:196px; margin:0px 0px 0px 120px; float:left; display:inline}
.classroom .box5{ margin-top:40px; padding-bottom:40px;line-height:26px; background:url(../images/about/img11.jpg) top no-repeat; height:692px; position:relative; zoom:1}
.classroom .box5 div{ position:absolute; z-index:10;}
.classroom .box5 div.c1{ width:320px; top:318px; left:285px;}
.classroom .box5 div.c2{ width:320px; top:528px; left:285px;}
.classroom .box5 p.indent{ text-indent:0em; padding-left:22px;}
.classroom .box6{ padding-bottom:30px; border-bottom:1px #dbdbdb dashed; line-height:26px; background:url(../images/about/img_tg.jpg) top no-repeat; height:449px; position:relative; zoom:1}
.classroom .box6 div.c1{ width:308px; top:90px; left:80px;}
a.tiyan{ margin-top:50px; width:206px; height:54px; line-height:54px; text-align:center; font-family:"微软雅黑", "黑体"; font-size:22px; color:#FFF; background:url(../images/bg3_script.png) 0px -442px repeat-x; display:block}
a.tiyan:hover{ color:#FFF; text-decoration:none; background-position:0px -508px}

/*商户入驻
.ruzhu .box,.search_list .box{ border:1px #dbdbdb solid; background:#FFF;}
.ruzhu .box .hd,.search_list .box .hd{ position:relative; zoom:1; z-index:1}
.ruzhu .box .hd b,.search_list .box .hd b{ background:url(../images/img_script.png) 0px -112px no-repeat; width:7px; height:51px; display:block; left:-7px; top:0; position:absolute; z-index:2}
.ruzhu .box .hd h3{ width:135px; padding-left:24px;height:44px; background:#18a2a3; line-height:44px; font-family:"微软雅黑", "黑体"; font-size:24px; color:#FFF; font-weight:normal; }
.search_list .box .hd h3{ width:135px; padding-left:24px;height:44px; background:#18a2a3; line-height:44px; font-family:"微软雅黑", "黑体"; font-size:24px; color:#FFF; font-weight:normal; float:left }

.ruzhu_l{float:left; width:460px; border-right:1px #f0f0f0 solid; height:560px;}
.ruzhu_l td{ padding:8px 0px;}
.ruzhu_l td *{ vertical-align:middle;}
.ruzhu_l td i{ margin-right:4px; font-size:16px; font-weight:bold; color:#ff4040; padding-top:4px}
.ruzhu_r{float:left; width:344px; height:480px; margin-left:60px; display:inline; background:url(../images/about/img05.jpg) 0px 90px no-repeat;}
.ruzhu_mod{ padding:40px;}
.ruzhu .p_re{display:inline; float:left; margin-right:6px;}
.sh_t{ width:64px;}
.sh_t,.sh_t2,.sh_t3{ background: #fbfbfb url(../images/bg2_script.png) right -836px no-repeat; border:1px #d9d9d9 solid; height:33px; line-height:33px; display:inline-block; padding-left:8px; cursor:default; color:#666; padding-right:50px;} 
#sh_list{ position:absolute; left:0px; top:33px; border:1px #d9d9d9 solid; border-top:1px #009899 solid; line-height:30px; background:#FFF; text-indent:8px; cursor:default; display:inline-block; display:none; color:#666;width:122px; height:192px; overflow-y:scroll}
#sh_list2,#sh_list3{ position:absolute; left:0px; top:33px; border:1px #d9d9d9 solid; border-top:1px #009899 solid; line-height:30px; background:#FFF; text-indent:8px; cursor:default; display:inline-block; display:none; color:#666;min-width:86px;width:e xpression(document.body.clientWidth < 800 ? "86px" : "100%" );}
#sh_list li,#sh_list2 li,#sh_list3 li{  height:30px; line-height:30px;}
#sh_list li.hover,#sh_list2 li.hover,#sh_list3 li.hover{ background:#f3f3f3}
.sex span{ margin-right:20px; display:inline-block; background:url(../images/bg_script.gif) 0px -2655px no-repeat; padding-left:23px; height:17px; cursor: pointer}
.sex span.cur{ background-position:0px -2617px}
.sex input{ display:none}
.p_bnt{ height:35px; line-height:35px; width:120px; font-size:14px; color:#FFF; background:url(../images/bg2_script.png) repeat-x 0 -513px; display: inline-block;}
.p_bnt:hover{ background-position:0px -559px; text-decoration:none; color:#FFF}
.ruzhu .bg{ margin-top:20px;}
.ruzhu .bg img{ display:block}
.ruzhu_r ul{ margin:103px 0px 0px 60px;}
.ruzhu_r ul li{ font-weight:bold; color:#FFF; margin-top:36px; height:40px; width:244px;}



/*搜索结果
.search_list .ts{ color:#333; margin:24px 0px 0px 20px; float:left}
.map_search input{ width:270px; line-height:32px; float:left; height:32px;  color:#666; padding-left:6px; border:0}

.map_search{width:310px;margin-top:16px;background:url(../images/bg_script.png) right -2445px no-repeat; border:1px #dbdbdb solid;height:32px; line-height:32px;}
.map_search .go{ width:24px; height:32px; border:0; cursor:pointer; margin:0; background:none; float:right}
.search_list .mod{ overflow:hidden; zoom:1; padding:50px 0px 210px 268px;}

#s_pic {  width:940px; overflow:hidden; position:relative; margin:0 auto}
#s_pic li { float:left; width:220px;position:relative; zoom:1; margin:0px 7px; display:inline; margin-bottom:20px;}
#s_pic li .mod{ width:220px; height:228px; margin:0px auto; padding:0px; zoom:1}
#s_pic li .img{ width:220px; height:170px;}
#s_pic li .img img{ display:block;width:220px; height:170px;}
#s_pic li .ico{ position:absolute; z-index:10; top:0; right:0;}
#s_pic li .ico img{ margin-left:10px; float:left; display:inline;}
#s_pic li .txt{ color: #FFF;height:54px; padding-top:6px; line-height:22px; background:#ff6666}
#s_pic li .red4{ color:#ffd1d1;background: #ff6666 url(../images/bg_script.png) 0px -663px repeat-x; height:30px; padding-left:10px;}
#s_pic li a.imgbg{display:block; width:220px; height:170px;position:absolute; top:0; left:0; z-index:20; background:#FFF;opacity:0;filter: alpha(opacity=0);-moz-opacity: 0;}
#s_pic li .km{background: url(../images/bg_script.png) no-repeat 0 -2981px;float: right;margin-right: 10px;padding-left: 16px;}
.pp_box_list{ overflow:hidden;zoom:1; margin-top:50px; margin-bottom:20px}
.s_bom{ margin:40px auto }

.m_tab_list li { float:left; width:365px;margin:20px 0px 0px 0px; border-bottom:0; padding-bottom:12px;}
#card_box{ overflow:hidden;zoom:1}
#card_box li{ border-bottom:none; width:310px;}
#card_box li .mod{padding:10px; height:162px;}

/*最新商户
.new_sh .box{ border:1px #dbdbdb solid; background:#FFF; zoom:1}
.new_sh .box .hd{ position:relative; zoom:1; z-index:2;}
.new_sh .box .hd b{ background:url(../images/img_script.png) 0px -112px no-repeat; width:7px; height:51px; display:block; left:-7px; top:0; position:absolute; z-index:4 }
.new_sh .box .hd h3{ width:135px; padding-left:24px;height:44px; background:#18a2a3; line-height:44px; font-family:"微软雅黑", "黑体"; font-size:24px; color:#FFF; font-weight:normal; position:absolute; z-index:5 }
.new_sh_l{ width:264px; background:url(../images/tm_line2.png) right repeat-y; float:left}

.new_pic {  width:220px; overflow:hidden; margin:0 auto; padding-top:64px;}
.new_pic li { width:220px;position:relative; zoom:1;height:228px; margin-bottom:20px;}
.new_pic li .mod{ width:220px; height:228px; margin:0px auto; padding:0px}
.new_pic li .img img{ display:block}
.new_pic li .ico{ position:absolute; z-index:10; top:0; right:0;}
.new_pic li .ico img{ margin-left:10px; float:left; display:inline;}
.new_pic li .txt{ color: #FFF;height:52px; padding-top:6px; line-height:22px; background:#ff6666}
.new_pic li .red4{ color:#ffd1d1;background: #ff6666 url(../images/bg_script.png) 0px -663px repeat-x; height:30px; padding-left:10px;}
.new_pic li a.t_link,#s_pic li a.t_link{ color:#FFF;width:110px; overflow:hidden; text-overflow: ellipsis;white-space:nowrap; display: inline-block}
.new_pic li a.t_link:hover,#s_pic li a.t_link:hover{ color:#FFF;opacity:1;filter: alpha(opacity=100);-moz-opacity: 1;}
.new_pic li a.imgbg{display:block; width:220px; height:170px;position:absolute; top:0; left:0; z-index:20; background:#FFF;opacity:0;filter: alpha(opacity=0);-moz-opacity: 0;}

.new_sh_r{ padding:40px; float:left; width:636px;}
.new_sh_r h2{ font-size:24px; font-family:"微软雅黑", "黑体"; text-align:center; font-weight:normal}
.new_sh_r .fm{ color:#999; text-align:center; margin:30px 0px 30px 0px; border-bottom:1px #f5f5f5 solid; padding-bottom:10px;}
.new_sh_r p{ text-indent:2em; line-height:30px;}

/*问卷调查
.survey,.survey2{ width:988px; margin:20px auto 30px auto; line-height:24px;}
.survey h2,.survey2 h2{ background:url(../images/survey_top.jpg) no-repeat; width:986px; height:121px; line-height:121px; color:#333; font-family:"微软雅黑", "黑体"; font-size:30px; text-align:center; font-weight:normal;}
.survey .box,.survey2 .box{padding:50px 70px 70px 70px; background:#FFF  url(../images/survey_bg.jpg) bottom repeat-x; border:1px #dbdbdb solid; line-height:26px; }
.survey dl,.survey2 dl{ margin-top:40px; line-height:30px; overflow:hidden;zoom:1}
.survey dt{ font-weight:bold;}
.survey dd *{ margin-right:8px; vertical-align:middle}
.s_bnt{ height:40px; line-height:40px; width:187px; font-size:22px; color:#FFF; background:url(../images/bg2_script.png) repeat-x 0 -513px; display: inline-block; font-family:"微软雅黑", "黑体"; border:none; margin-top:80px; cursor:pointer}
.s_bnt:hover{ background-position:0px -559px; text-decoration:none; color:#FFF}

.survey2 .box{ padding-top:0px; overflow:hidden; zoom:1; padding-left:20px;}
.survey2 dt{ font-weight:bold; width:416px; text-align:right;}
.survey2 dd{ overflow:hidden; zoom:1}
.survey2 dd .l{ float:left; width:416px; text-align:right;margin-right:40px; }
.survey2 dd .c{ float:left; height:13px; background:#6fd1d1; display:block; margin-top:8px; margin-right:10px;}
.survey2 dd .r{ font-size:16px; font-style:italic; color:#ccc;  float:left}


/*周边优惠
.zhoubian .box{ border:1px #dbdbdb solid; background:#FFF; zoom:1}
.zhoubian .box .hd{ position:relative; zoom:1; z-index:2;}
.zhoubian .box .hd b{ background:url(../images/img_script.png) 0px -112px no-repeat; width:7px; height:51px; display:block; left:-7px; top:0; position:absolute; z-index:4 }
.zhoubian .box .hd h3{ width:135px; padding-left:24px;height:44px; background:#18a2a3; line-height:44px; font-family:"微软雅黑", "黑体"; font-size:24px; color:#FFF; font-weight:normal; position:absolute; z-index:5 }
.zhoubian_menu{ width:644px; float: right; margin:16px 20px 0px 0px;line-height:33px; background:url(../images/bg_script.png) 0px -1762px repeat-x;}
.zhoubian_menu span{ margin-right:40px; float:left; line-height:60px;}
.zhoubian_menu a{ display:block; float:left; width:127px; margin-right:47px; color:#333; height:33px;position:relative; zoom:1;}
.zhoubian_menu a.b{ display:none;}
.zhoubian_menu a.hover b{ background:url(../images/bg_script.gif) -18px -640px; width:11px; height:6px; display:block; position:absolute; left:86px; top:29px; }
.zhoubian_menu a:hover{ color:#009899; border-bottom:3px #009899 solid; text-decoration:none; height:33px; }
.zhoubian_menu a.hover{ color:#009899; border-bottom:3px #009899 solid;}
#zb3{ margin-right:0px;}
a#zb1{ background:url(../images/bg_script.png) 20px -1065px no-repeat; padding-left:56px;}
a#zb2{ background:url(../images/bg_script.png) 20px -1157px no-repeat; padding-left:56px;}
a#zb3{ background:url(../images/bg_script.png) 20px -1250px no-repeat; padding-left:56px;}
a#zb1:hover,a#zb1.hover{ background-position:20px -1018px;}
a#zb2:hover,a#zb2.hover{ background-position:20px -1110px;}
a#zb3:hover,a#zb3.hover{ background-position:20px -1203px;}

#ss_menu{ width:598px;}
#ss_menu a{width:160px; margin-right:20px; text-align:center}
#ss_menu a.hover b{ left:73px;}
/*a#ss1{ background:url(../images/bg3_script.png) -38px -1280px no-repeat; padding-left:56px;}
a#ss2{ background:url(../images/bg3_script.png) -38px -1178px no-repeat; padding-left:56px; margin-right:0px; }
a#ss1:hover,a#ss1.hover{ background-position:-38px -1325px;}
a#ss2:hover,a#ss2.hover{ background-position:-38px -1224px;}


.zhoubian .mod{ overflow:hidden; zoom:1; padding:90px 0px 90px 260px; }
.s_more{ margin-top:10px; font-size:18px; font-family:"微软雅黑", "黑体"; }
.s_more a{ color:#009899; text-decoration:underline}
.w500{ width:500px;}
.zhoubian .cmod{ padding:20px 20px 30px 20px;}
.zhoubian .cmod .ts{ height:38px; line-height:38px; border:1px #ececec solid; background:#f8f8f8; padding-left:10px; margin-bottom:20px; }
.zhoubian .cmod .ts a{ text-decoration:underline; font-weight:bold; margin-left:40px;}
#more_address{position:relative; z-index:30; zoom:1}
#more_address p *{ vertical-align:middle}
#more_address p b{background: url(../images/bg_script.png) -19px -300px no-repeat;_margin-top:15px; width:16px; height:6px;display:inline-block; margin-left:10px; cursor:pointer}
#more_address p.hover b{background:url(../images/bg_script.png) -19px -340px no-repeat;_background:url(../images/bg_script.png) -19px -340px no-repeat;}
#show_m_d{ position:absolute; top:38px; left:-1px; border:1px #ececec solid; background:#FFF; z-index:40; display:none}
#show_m_d p a{ line-height:30px; display:block; padding:0px 10px; margin:0px; font-weight:normal; text-decoration:none}
#show_m_d p.hover{ background:#f8f8f8; }

/*查地图
.s_map{ width:988px; height:492px; border:1px #dbdbdb solid; background:#FFF; margin-top:20px;}
.s_map .s_hd{ background:url(../images/bg_script.png) 0px -1850px repeat-x; height:38px; line-height:38px;box-shadow:0px 3px 2px rgba(0,0,0,0.1); position:relative; z-index:10}
.s_coupon,.s_area,.s_cat{ float:left; position:relative; zoom:1; z-index:10; border-right:1px #e5e5e5 solid; }
.s_coupon i,.s_area i,.s_cat i{display:inline-block; padding:0px 13px 0px 18px; cursor:default}
.s_coupon i *,.s_area i *,.s_cat i *{ vertical-align:middle;_padding-top:22px}
.s_coupon i b,.s_area i b,.s_cat i b{background: url(../images/bg_script.png) -19px -300px no-repeat;_background: url(../images/bg_script.png) -14px -284px no-repeat; width:16px; height:6px;display:inline-block;transition:transform 0.2s ease-in 0s; margin-left:10px;}
.s_coupon i.hover,.s_area i.hover,.s_cat i.hover{ background-color:#FFF; color:#333}
.s_coupon i.hover b,.s_area i.hover b,.s_cat i.hover b{background:url(../images/bg_script.png) -19px -2884px no-repeat;_background:url(../images/bg_script.png) -19px -2864px no-repeat;transform:rotate(180deg);transform-origin:50% 30%;}
.show_s_coupon,.show_s_area,.show_s_cat{ border:1px #dbdbdb solid; background:#FFF;  font-size:14px; color:#666; line-height:24px; position:absolute; left:-1px; top:38px; width:113px;overflow-y:auto; overflow-x:hidden; z-index:50; display:none; Max-Height:428px;Min-Height:30px;_height:expression(this.scrollHeight > 428 ? "428px" : (this.scrollHeight < 30 ? "30px" : "auto"));}
.show_s_area a,.show_s_cat a{ padding-left:4px; display:block; width:96px; }
.show_s_coupon li,.show_s_area li,.show_s_cat li,.s_map_shop li{ border-bottom:1px #f5f5f5 solid; height:29px; line-height:29px; padding-left:4px; cursor:default;}
.show_s_coupon li.hover,.show_s_area li.hover,.show_s_cat li.hover,.s_map_shop li.hover{ background:#fafafa; color:#009899; }
.show_s_coupon li *,.s_search *{ vertical-align:middle; margin-right:3px;}
.w113{ width:113px;}
.s_search{ float:right; _padding-top:5px }
.s_search input{ height:24px; line-height:22px;}
.s_go{ height:26px;_height:22px; line-height:22px; background:url(../images/bg2_script.png) 0px -2231px repeat-x; border:1px  #dbdbdb solid; text-align:center; display: inline-block; color:#333; width:53px; font-weight:bold; cursor:pointer; font-size:14px; padding:0px;}
.s_go:hover{ border:1px  #BCBCBC solid; box-shadow:0 1px 2px #dbdbdb; text-decoration:none; }
.s_map_img{ float:left; width:730px; height:430px; position:relative; z-index:2; zoom:1}
.s_map_shop{ float:right; width:256px; border:1px #dbdbdb solid; height:428px; overflow-y:scroll; overflow-x:hidden; border-top:1px #f5f5f5 solid;position:absolute;right:0px;z-index:9;background-color:#FFF;}
.s_map_shop a{ height:29px; line-height:29px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; display: inline-block; }
.s_map_shop a:hover,.show_s_area a:hover,.show_s_cat a:hover{ text-decoration:none}
.s_map_shop li{text-overflow:ellipsis; white-space:nowrap; width:230px; overflow:hidden; display:block}
.s_map_shop  a.cur{ background: url(../images/p0_3.png) right no-repeat; padding-right:26px; color:#009899}
.s_box{ overflow:hidden;zoom:1;position:relative;}
.s_bm{ height:24px; line-height:24px; background:#666; color:#FFF; overflow:hidden; zoom:1}
.s_bm a:hover{ text-decoration:none; color:#FFF;}
.s_bm .zoom{ float:left;display:inline}
.s_bm .zoom a{ display:inline-block; width:24px; height:24px; border-right:1px #5c5c5c solid}
.s_bm .zoom a.f:hover,.s_bm .zoom a.s:hover{ background-color:#999999}
.s_bm .zoom a.f{ background:url(../images/bg3_script.png) 2px -583px no-repeat }
.s_bm .zoom a.s{background:url(../images/bg3_script.png) 2px -611px no-repeat }
.s_bm .bnts a.q{ margin-left:204px;_margin-left:194px;}
.s_bm .jiaz{ margin-left:196px; float:left; display:inline}
.s_bm .bnts a{ color:#FFF; text-decoration:none; margin-left:68px; float:left; margin-right:10px; display:inline}
.s_bm .bnts{ float:right;display:inline}
.s_ico{ position:absolute; z-index:10;}
.s_info{padding:2px;margin-left:68px;margin-top:-10px;position:absolute; z-index:20; width:430px; height:242px; background:url(../images/s_info_bg.png) no-repeat}
.s_close{background: url(../images/img_script.png) no-repeat -172px -5px;cursor: pointer;display: block;height: 25px;position: absolute;right: 92px;top: 10px;width: 25px;z-index: 40;}
a.s_close:hover{ background-position: -192px -5px;}

/*选择城市
.city_mod{ margin:0px 30px 30px 30px;}
.go_city{ border-right:1px #e5e5e5 solid; display:inline-block; padding-right:10px; margin-right:10px; height:80px; color:#000}
.go_city i a{ font-family:"microsoft yahei"; font-size:20px; color:#F00; font-weight:normal; margin:0px; margin-left:10px}
.hot_city2{ font-size:16px; font-weight:bold; color:#07B345; line-height:80px; height:80px; padding-left:30px;  border-bottom:1px #e5e5e5 solid; background:#f0f0f0}
.hot_city2 a{ color:#07B345; margin:0px 13px;+margin:0px 11px; }
.slt_city{ font-size:16px; font-weight:bold; color:#07B345; line-height:80px; height:80px;  border-bottom:1px #e5e5e5 solid;}
.city_btn{ background:url(../images/bg2_script.png) 0px -2446px repeat-x; width:74px; height:26px; line-height:26px; text-align:center; font-size:14px; color:#FFF; font-weight:bold; border: none; cursor:pointer; margin-left:10px;}
.city_btn:hover{ background:url(../images/bg2_script.png) 0px -2473px repeat-x;}
.city_hd{ width:140px; height:32px; line-height:32px; font-weight:bold; background:#18a2a3; margin-top:30px; text-align:center; font-size:16px; color: #FFF; position:relative; zoom:1}
.city_hd b{ position:absolute; left:32px; bottom:-7px; background:url(../images/img_script.png) -202px -348px no-repeat; display:block; width:11px; height:7px;}
.city_list{ margin-top:10px;}
.city_list li{ border-bottom:1px #e5e5e5 solid; padding:22px 22px 22px 54px; position:relative; zoom:1; font-size:14px; line-height:36px; color:#ccc}
.city_list li.hover{ background:#f0f0f0}
.city_list li a{ margin:0px 30px; color:#000; font-size:14px;white-space: nowrap; }
.city_list li b{ position:absolute; top:22px; left:22px; color:#ff3333; background:url(../images/img_script.png) -69px -907px no-repeat; width:36px; height:36px; line-height:36px; text-align:center; font-family:"宋体"; font-size:16px}
.city_list li.hover b{ background:url(../images/img_script.png) -13px -907px no-repeat; color:#fff;_background:url(../images/img_script.gif) -13px -907px no-repeat;}
*/